$event_name::$event_name($c_params) : Event(id) $c_params_init
{

}

string $event_name::name() const
{
    return "$event_name";
}

string $event_name::to_string() const
{
    return fmt::format("{}$to_string_format", name() $to_string_params);
}




